//Author: Brenden Palmer
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.inner-footer {
  background: rgba(255,255,255,0.65);
  box-shadow: 0 0 0.2em rgba(0,0,0,0.05);
  width: 100%;
  width: 100vw;
  position: relative;
  .wrapper {
    padding: 0;
  }
}
.inner-footer .left {
  float: left;
}
.inner-footer .right {
  float: right;
}
.inner-footer .right h2 {
  margin: 2.7em 0 0;
  font-size: 0.8em;
}
ul.keyboard-shortcuts {
  list-style-type: none;
}
ul.keyboard-shortcuts li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
  font-size: 0.85em;
  line-height: 1.3em;
  text-align: center;
  width: 9em;
}
ul.keyboard-shortcuts li:first-of-type {
  margin-left: 0;
}
