//Author: Brenden Palmer
.modal {
  perspective: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  height: auto;
  width: 60%;
  max-width: 1000px;
  min-width: 340px;
  transform: translate3d(-50%,-50%,0);
  transition: all 0.3s ease;
  z-index: -1;
  backface-visibility: hidden;
  visibility: hidden;
}
.modal.open {
  opacity: 1;
  z-index: 5;
  visibility: visible;
}
.modal .content {
  padding: 0.75em;
  background: rgba(255,255,255,0.6);
  transform: rotate3d(0,1,0,-8deg);
  transition: all 0.3s ease;
  backface-visibility: hidden;
}
.modal.open .content {
  transform: rotate3d(0,0,0,0deg);
}
.modal .content p {
  margin: 0 auto;
  color: rgba(255,255,255,0.75);
}
.modal .content .button {
  display: block;
  font-size: 1.5em;
  margin: 0.5em auto 0;
}
.color-base,
.color-hover {
  padding: 4vh 0;
}
.bottom-text {
  width: 85%;
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0 auto;
  padding: 4rem 0 9rem;
  color: rgba(255,255,255,0.8);
}
