<modal color="randomColor.active.color"></modal>
<div class="outer-main-content">
  <div class="main-content" ng-style="{
    'background-color': randomColor.bgColor
  }">
    <ul class="colors">
      <li class="transition" ng-repeat="color in randomColor.colors track by $index" ng-style="{
        'background': color.baseRgb
      }" ng-click="randomColor.active.color = color"></li>
    </ul>
    <p class="bold bottom-text center center-text">
      <span class="desktop">Press the space bar for more colors!</span>
      <span class="mobile">
        <button id="load-more" class="button transition">Load More Colors!</button>
      </span>
    </p>
  </div>
</div>
