<footer>
  <div class="inner-footer">
    <div class="wrapper">
      <div class="left">
        <ul class="keyboard-shortcuts dark">
          <li><span class="bold">space</span> (new palette)</li>
          <li><span class="bold">h</span> (disable / enable hover)</li>
          <li><span class="bold">esc</span> (close modal)</li>
          <li><span class="bold">left</span> / <span class="bold">right</span> when modal open (self-explanatory)</li>
        </ul>
      </div>
      <div class="right">
        <h2 class="h6 dark center">designed and developed with <i class="fa fa-heart dark"></i> by brenden palmer</h2>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>
